kb, .kb{
  display:inline-block;
  background-color:white;
  padding:.17em .6em .17em .4em;
  margin: 0 .2em;
  position: relative;
  top:-.1em;

  background: white;
  color:#333;
  font: normal .8em/1  sans-serif;
 
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  
  background: -moz-radial-gradient(top, ellipse cover,  #ddd 0%, white 100%);
  background: -webkit-gradient(radial, center top, 0px, center center, 100%, color-stop(0%,#ddd), color-stop(100%,white));
  background: -webkit-radial-gradient(top, ellipse cover,  #ddd 0%,white 100%);
  background: -o-radial-gradient(top, ellipse cover,  #ddd 0%,white 100%);
  background: -ms-radial-gradient(top, ellipse cover,  #ddd 0%,white 100%);
  
  background: radial-gradient(ellipse at top,  #ddd 0%,white 100%);
}

kb::before, .kb::before{
  content:'';
  position:absolute;
  z-index:-1;
  left:-2px;
  right:-2px;
  top:1px;
  bottom:-4px;
  
  border:1px solid gray;;
  background-color:#ccc;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}